input,
.limite,
label {
  margin: 5px 10px;
}
input,
body,
.limite,
label,
.btto,
#stopbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  height: 100vh;
  margin: 0;
  background: black;
  color: white;
}
.limite {
  background: white;
  border: 3px solid lightseagreen;
  width: 750px;
  height: 500px;
  user-select: none;
}
input,
label {
  width: 200px;
  font-size: 20px;
  text-align: center;
}
input {
  border-radius: 5px;
  appearance: textfield;
  /* -moz-appearance: textfield; */
}
/* input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
} */
#stopbutton {
  width: 100%;
  height: 100%;
  pointer-events: all;
  position: relative;
  background: transparent;
}
#input {
  width: 100%;
  height: 475px;
  overflow: auto;
  border: 2px solid lightblue;
  background: grey;
}
#edite {
  height: 475px;
  overflow: auto;
  border: 2px solid lightblue;
  background: grey;
}
#input input[type="button"] {
  background: rgb(50, 218, 139);
  border: 1px solid white;
  color: white;
}
#delete {
  color: white;
  background: rgb(252, 23, 35);
  border: none;
}
#delete:hover {
  height: 30px;
  border: 2px solid white;
  box-shadow: 0 0 0 2px rgb(252, 23, 35);
}
