body {
  user-select: none;
  flex-direction: row;
  height: 100vh;
  background: black;
  color: white;
}
#stopbutton,
body,
.nolow {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alinha {
  flex: 1 1 0%;
  text-align: center;
}

.alinha:nth-child(2) {
  flex: 4 1 0%;
}
#edite,
#input {
  flex-shrink: 0;
  margin: 0 5px 0 5px;
  height: 505px;
  padding: 5px;
  background: #161b22;
}
#edite,
#input,
#stopbutton {
  overflow: auto;
  border: 3px solid #30363d;
}
#edite input,
#edite label,
#input input,
#delete,
#enter {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 200px;
}
#input input {
  background-color: #21262d;
  color: #c9d1d9;
}
#stopbutton {
  background: rgb(255, 255, 255);
  pointer-events: all;
  position: relative;
}
.nolow,
#stopbutton {
  width: 900px;
  height: 550px;
}
#delete,
#enter,
#input input {
  border-radius: 5px;
  margin-top: 5px;
  border: none;
}
#delete:hover,
#enter:hover,
#input input:hover {
  height: 30px;
  cursor: pointer;
  font-size: 18px;
}
#delete:hover {
  border: 2px solid white;
  box-shadow: 0 0 0 2px rgb(252, 23, 35);
}
#enter:hover {
  border: 2px solid rgb(74, 255, 107);
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
}
#enter {
  color: black;
  background: rgb(255, 255, 255);
}
#delete {
  color: white;
  background: rgb(255, 0, 0, 0.75);
}
#input input:hover {
  background-color: #2c313a;
  border: 2px solid #58a6ff;
}
